<div class="container">
    <h1>Edit Client</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" class="form-control" [(ngModel)]="firstName" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" class="form-control" [(ngModel)]="lastName" name="lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
      </div>

      <div class="form-group">
        <label for="email">Status:</label>
        <input type="email" id="status" class="form-control" [(ngModel)]="status"  name="status" required>
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
  